{% load i18n %}

<div class="panel">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                {% trans 'Sub Question' %} {{ sub_question.order_number }}
            </a>
        </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
            <h4>{% trans 'question' %}</h4>
            <p>{{ sub_question.content }}</p>
            <hr>
            <h4>{% trans 'answer' %}</h4>
            <p>{{ sub_answer.content }}</p>
        </div>
    </div>
</div>
