<div class="panel panel-info {% block panel-class %}{% endblock %}">
{#    <header class="panel-heading">#}
{#        {% block panel-heading %}#}
{#            <h4 class="panel-title">{% block panel-title %}{% endblock %}</h4>#}
{#        {% endblock %}#}
{#    </header>#}

    <div class="panel-body">
        {% block panel-body %}

        {% endblock %}
    </div>
{#    <div class="panel-footer">#}
{#        {% block panel-footer %}#}
{#        #}
{#        {% endblock %}#}
{#    </div>#}
</div>